
{% extends 'base.html' %}
{% block content %}
<style>
html, body, h1, h2, h3, h4, h5 {font-family: "Open Sans", sans-serif}
.w3-card {
  background-color: #A3BCB6;
}


</style>
</head>
<body class="w3-theme-l5">
<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:0px">    
  <!-- The Grid -->
  <div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m3">
      <!-- Profile -->
      <div class="w3-card w3-round">
        <div class="w3-container">
         <h4 class="w3-center"><strong>My Profile</strong></h4>
         <hr>
         <p><i class="fa-solid fa-user"></i> {{username}}</p>
         <p><i class="fa-solid fa-calendar"></i> {{date}}</p>
         <p><i class="fa-solid fa-book"></i></i> {{no_books}}</p>
        </div>
      </div>
      <br>
      
    
      <!-- Interests --> 
      <div class="w3-card w3-round">
        <div class="w3-container">
          <p><strong>Favorite genres</strong></p>
          <p>
              here gonna put genres they read
          </p>
        </div>
      </div>
      <br>
    
    
    <!-- End Left Column -->
    </div>
    
    <!-- Middle Column -->

    <h4><strong>  My reviews </strong></h4>
    {% if user_reviews %}
    <div class="w3-col m7">
      {% for review in user_reviews %}
      <div class="w3-container w3-card w3-round w3-margin"><br>
        <hr>
        <h4> {{review.book}} - {{review.title}}</h4>
          <hr class="w3-clear">
          <div class="w3-row-padding" style="margin:0 -16px">
            <div class="w3-half">
              {{review.content}}
              <br>
          </div>
        </div>
       
      </div>
      {% endfor %}
    {% else %}
    <div class="w3-col m7">
      <div class="w3-container w3-card  w3-round w3-margin"><br>
        <hr>
        <h4> You have posted no reviews yet!</h4>
          <hr class="w3-clear">
          <div class="w3-row-padding" style="margin:0 -16px">
            <div class="w3-half">
              <br>
          </div>
        </div>

      </div>
    {% endif %}

   
      
    <!-- End Middle Column -->
    </div>
    
    <!-- Right Column -->
    <div class="w3-col m2">
      <div class="w3-card w3-round  w3-center">
        <div class="w3-container">
        
          <h4><strong>New books</strong></h4>
          <a href="{% url 'mark-book-status' %}">Find more books</a>
  
        </div>
      </div>
      <br>
      
      
      <div class="w3-card w3-round  w3-padding-16 w3-center">
        <p>I will put look to awards</p>
      </div>
      <br>
      
      
    <!-- End Right Column -->
    </div>
    
  <!-- End Grid -->
  </div>
  
<!-- End Page Container -->
</div>
<br>


</body>
</html> 
{% endblock %}
