{% extends 'base.html' %}

{% block content %}
    {% if book_list %}
    {% for b in book_list %}
   <div class="container">
    <div class="row">
      <div class=" col-md-8 card mb-4 right">
        <div class="card-body">
          <h6>{% block title %} <a href="">{{ b.title }}</a>{% endblock title %}</h6>
          <p class=" text-muted">{{ b.author }} | {{ b.release_date }}</p>
          {% if b.cover %}
          <p class = "ph"><img src = "{{b.cover}}" /></p>
          <p>{{b.description}}</p>
          {% else %}
          <h5>no image</h5>
          {%endif %}
        </div>
        {%endfor%}
  {% else %}

  <p>Oh no! We couldn't find this book!</p>
  <p> Check out our collection!</p>

   {% endif %}
  



</form>
      
      
{% endblock %}


