{% extends 'base.html' %}
{%load static%}
{% block content %}

  
  <div class="image">

    <img src="{% static 'styles/wallpaper.jpeg' %}" style= "width:100%" style = "height: 100%" alt="">
  
    <h2><span>It is story time<span class='spacer'></span><br /><span class='spacer'></span>Meet your next favorite book</span></h2>

  </div>
  <p>Count of books:</p>
  <ul>
    <li><strong>Books:</strong> {{ num_books }}</li>
    <li><strong>Authors:</strong> {{ num_authors }} </li>
  </ul>

  
  
{% endblock %}

