{% extends 'base.html' %}
{%load static%}
{% block content %}

 
  <div class="image" style="align-left"> 
  
  <!-- <img src="{% static 'styles/wallpaper.jpeg' %}" style= "width:1000" style = "height: 1000;align-self: flex-end;" alt="" >  -->

    <h2><span>It is story time<span class='spacer'></span><br /><span class='spacer'></span>Meet your next favorite book</span></h2>

  </div>
 
<body>
 
  <p>Count of books:</p>
  {{inst}}
  <ul>
    <li><strong>Books:</strong> {{ num_books }}</li>
    <li><strong>Authors:</strong> {{ num_authors }} </li>
   
  </ul>
</body>
  <!-- <li>Visits: {{num_visits}}</li> -->
  <!-- <li><a href="{% url 'my-books' %}">My Books</a></li>  -->
  <!-- <li><a href="{% url 'mark-book-status' %}">mark</a></li>  -->
{% endblock %}

