{% extends 'base.html' %}
{%load static%}


{% block content %}

 <h2> Form</h2>
 {%for book in form.book%}
<form method = "post">
  {%csrf_token%}
  {{book}}

  {{form.status}}
  <input type="submit">


</form>
{%endfor%}
{% endblock %}

   



<!-- {% if book_instance %}
    <ul>
    <form action = "" method = "post">

        </form>
      {% for bookinst in book_instance %}
        <a href=""> {{ bookinst.book.title }}</a>
      
        <select name="book-status" id="book-status">
            <option value="want to read">want to read</option>
          <option value="read">read</option>
          <option value="reading">reading</option>
          <input type="submit" value="Submit">
        </select>
    
      {% endfor %}
    </ul>

    {% else %}
      <p>There are no books borrowed.</p>
    {% endif %}  -->
